{:ziggurat {:stream-router {:default {:application-id "my-producer"
                                      :producer {:bootstrap-servers "localhost:9092"
                                                 :key-serializer "org.apache.kafka.common.serialization.StringSerializer"
                                                 :acks           "all"
                                                 :value-serializer  "org.apache.kafka.common.serialization.StringSerializer"}}}}}
